* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* THEMES */
body.dark {
  background: #0e0e0e;
  color: #ffffff;
}

body.light {
  background: #f4f4f4;
  color: #111111;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.8rem;
  color: #ccc;
  position: relative;
}

.nav-link.active {
  color: orange;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: orange;
}

#themeToggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 6rem;
}

.views {
  margin-top: 15px;
  color: #8aa;
}

.views span {
  color: #00bcd4;
}

/* BUTTON & SOCIALS */
.actions {
  margin-top: 30px;
}

.btn {
  padding: 12px 25px;
  border: 1px solid currentColor;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
}

.btn:hover {
  background: orange;
  color: #000;
}

.socials {
  margin-top: 35px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.socials a {
  width: 44px;
  height: 44px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark .socials a {
  border-color: white;
}

body.light .socials a {
  border-color: black;
}

.socials svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* SECTIONS */
.section {
  min-height: 60vh;
  padding: 80px 20px 60px;
  display: flex;
  align-items: center;
}

section {
  scroll-margin-top: 100px;
}

#about {
  background: linear-gradient(180deg, #121212, #1a1a1a);
}

.divider {
  max-width: 800px;
  margin: auto;
}
.divider p {
  text-align: center;
  font-size: 1.2rem;
  word-spacing: 2px;
  color: #888;
  margin-top: 10px;
}

.section h2 {
   text-align: center; 
  margin-bottom: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
  .navbar {
    padding: 15px 20px;
  }
}
footer {
  text-align: center;
  padding: 20px 0;
  background: #222;
  color: #ccc;
  font-size: 0.9rem;
}