name: Deploy Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd backend
          npm install

      - name: Zip backend
        run: |
          cd backend
          zip -r backend.zip .

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: rajat-cloud-resume-func
          package: backend/backend.zip
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
