name: Deploy Frontend to Azure Blob Static Website

on:
  push: 
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name:  Upload to Azure Blob Storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az storage blob upload-batch --account-name ${{ secrets. AZURE_STORAGE_ACCOUNT_NAME }} --destination '$web' --source frontend --auth-mode key --account-key ${{ secrets. AZURE_STORAGE_ACCOUNT_KEY }}